
<div class = "container">
  <% if @group %>
  <div class="events-header-container">

    <h2>Nannies</h2>
    <%= link_to "Back to #{@group.name}", group_path(@group), class: "event-index-button"%>

  </div>

<% else %>
  <em><p class="mt-0 mr-2" style="color:#8C1BA8;"><i class="fas fa-baby-carriage" style="color:#8C1BA8;"></i> Nannies near you.</p></em>
<% end %>

  <div class="content">
    <div class="remove-if-scroll">
        <div id="map-wrapper">
          <div
            id="mapnannies"
            style="
            width: 100%;
            height: 250px;
            margin: 12px 0;
            border-radius: 6px;"
            data-markers="<%= @nanniesmarkers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
    </div>

      <div class="cards">
        <% @nannies.each do |nanny| %>
          <%= link_to nanny_path(nanny), class: "link-card card-product" do %>

              <% if nanny.user.photo.attached? %>
                <%= cl_image_tag(nanny.user.photo.key, :width=>300, :height=>300, :crop=>"scale") %>
              <% end %>

              <div class="card-nanny-index">
                <h2><%= nanny.name %></h2>
                <p> <strong> £<%= nanny.price_per_hour%> per hour </strong></p>
              </div>

          <% end %>
        <% end %>
      </div>
</div>

<script>
  document.addEventListener('scroll', (event) => {
    if (document.querySelector(".remove-if-scroll")) {
      document.querySelector(".remove-if-scroll").remove();
    }
  });
</script>
