<div class="event-show-container">
  <h1> All bookings </h1>
   <%= link_to "Back to events", group_events_path(@event_bookings.first.event.group), class: "events-show-nav-link" %>


  <% @event_bookings.each do |event_booking| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h6><%= link_to event_booking.event.name, event_booking_path(event_booking), class: "events-show-nav-link" %></h6>
        <p>Date: <%= event_booking.event.date.strftime("%d/%m/%y") %></p>
        <p><%= event_booking.event.description %></p>
        <p><%= event_booking.spaces_booked %></p>

        <p><%= event_booking.event.address %></p>
      </div>
    </div>
  <% end %>
</div>

<!-- add map on show page, edit and cancel booking -->
<!-- edit and cancel booking -->
<!-- payments functionality -->
