<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @event.photo.key, height: 200, width: 350, crop: :fill %>');">
  <div class="container">

    <%= link_to "Back to events", group_events_path(@event_booking.event.group), class: "banner-button" %>

    <h1><%= @event.name %></h1>
    <p><%= @event.description %></p>
    <div class="d-flex flex-row justify-content-between my-flex-container">
      <p><i class="far fa-calendar"></i> <%= @event_booking.event.date.strftime("%d-%m-%y") %></p>
      <p><i class="far fa-clock"></i> <%= @event_booking.event.time.strftime("%I:%M%P") %></p>
      <p><i class="fas fa-baby"></i> <%= @event_booking.spaces_booked %></p>
    </div>

  </div>
</div>

<div class="container">
  <div class="event-show-container">
    <div class="d-flex flex-row justify-content-between my-flex-container">
       <div class="p-2 my-flex-item">
       </div>
       <div class="p-2 my-flex-item">
          <%= link_to "All bookings", event_bookings_path, class: "button-flat-small-show" %>
       </div>
    </div>
    <br>
  <h3><i class="far fa-check-circle" style="color:green;"></i>&nbsp; Booking Confirmed!</h3>
  <p><i class="fas fa-map-marker-alt"></i> <%= @event_booking.event.address %></p>
    <div class="content">
      <div id="map-wrapper">
        <div
          id="map"
          style="
          width: 100%;
          height: 300px;
          margin: 32px 0;
          border-radius: 6px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
      </div>
    </div>
  <h5>Details</h5>
    <div class="d-flex flex-row justify-content-between my-flex-container">

      <!-- Button code -->
      <div title="Add to Calendar" class="addeventatc">
          Add to Calendar
          <span class="start"><%= @event_booking.event.date.strftime("%y-%m-%d") %> <%= @event_booking.event.time.strftime("%I:%M%P") %></span>
          <span class="end"> </span>
          <span class="timezone">Europe/Paris</span>
          <span class="title"><%= @event_booking.event.name %></span>
          <span class="description"><%= @event_booking.event.description %></span>
          <span class="location"><%= @event_booking.event.address %></span>
      </div>
    </div>
  </div>
</div>
