


<div class = "container">
  <h1 class="m-0">Groups</h1>


    <div class="content">
      <div id="map-wrapper">
            <div
              id="map"
              style="
              width: 100%;
              height: 300px;
              margin: 32px 0;
              border-radius: 6px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
        </div>

      <div class="cards">
        <% @groups.each do |group| %>
          <div class="card-product">
              <%= cl_image_tag group.group_picture.key %>
              <div class="card-product-infos">

                <h2><%= link_to group.name, group_path(group), class: "link"  %></h2>
                <p><%= group.description %></p>
                <p><%= group.address %></p>
              </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
