<div class="container">
  <div class="group-show-container">


    <% unless current_user.group.nil? || current_user.group.id != @group.id %>

      <%= render 'member_show.html.erb' %>

    <% else %>

      <%= render 'non_member_show.html.erb' %>

    <% end %>







            <div class="">
              <p><i class="fas fa-user-circle"></i> <%= @group.description %></p>
              <p><i class="fas fa-map-marker-alt"></i> <%= @group.location %></p>
            </div>


          <h4>Some of our members...</h4>

            <div class="cards">
              <% @users.first(4).each do |user| %>
                <div class="card-product-small ">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <%= cl_image_tag @group.group_picture.key %>
                      <a class="btn btn-flat-small-fix" href="#"><%= user.full_name %></a>
                    </div>
                    <div class="card-product-infos-small">
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, ...</p>
                    </div>
                </div>
              <% end %>
            </div>

            <h4>Upcoming events...</h4>

            <div class="cards">
              <% @events.first(4).each do |event| %>
                <div class="card-product">
                        <div class="card-product-infos">
                          <h6><%= event.name %></h6>
                          <p><i class="far fa-calendar"></i> <%= event.date.strftime("%d/%m/%y") %></p>
                          <p><%= event.description %></p>
                          <%= link_to "View event", event_path(event), :class => "btn-flat-small" %>
                        </div>
                      </div>
              <% end %>
            </div>

            <h4>Some of our nannies...</h4>

            <div class="cards">
              <% @nannies.first(4).each do |nanny| %>
                <div class="card-product">
                        <div class="card-product-infos">
                          <h6><%= nanny.name %></h6>
                          <p><%= nanny.bio %></p>
                        </div>
                      </div>
              <% end %>
            </div>


      </div>
    </div>
