<div class="container">
  <div class="group-show-container">

    <h1>Discover our Group</h1>

      <div class="row">
        <div class="col-8 d-flex align-items-center">
          <%= @group.name %>
          <%= @group.description %>
          <%= @group.address %>
          <%= @group.location %>
        </div>
        <div class="col-4 ">
          <%= link_to "Join this group", group_path(@group), class: "btn btn-flat" %>
          <!-- <a class="btn btn-flat" href=<%= groups_path %>>Join this Group</a> -->
        </div>
      </div>

      <h4>Some of our members...</h4>

      <div class="col-12">
        <div class="cards">
          <% @users.first(4).each do |user| %>
            <div class="card-product-small ">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <%= cl_image_tag @group.group_picture.key %>
                  <a class="btn btn-flat-small-fix" href="#"><%= user.full_name %></a>
                </div>
                <div class="card-product-infos-small">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, ...</p>
                </div>
            </div>
          <% end %>
        </div>
      </div>

  </div>
</div>




