<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" onclick="openNav()"></span>
  </button>


<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-design">

        <li class="nav-item active">
          <%#= link_to "Home", '#', class: "btn-ghost" %>
        </li>
        <li class="nav-item">
          <%#= link_to "Your Bookings", "#", class: "btn-ghost" %>
        </li>
        <li class="nav-item">
          <%#= link_to "Messages", "#", class: "btn-ghost" %>
        </li>
        <li class="nav-item">
          <%#= link_to "Your Profile", "#", class: "btn-ghost" %>
        </li>
        <li class="nav-item">
          <%#= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn-ghost" %>
        </li>
        <%  %>
        <li class="nav-item">
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%#= link_to "Sign-Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <%#  %>
    </ul>
  </div>

</div>

 -->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <% if user_signed_in? %>
      <div class="side-nav-header p-3 d-flex align-items-center justify-content-start">
        <% if current_user.photo.attached?%>
          <%= cl_image_tag current_user.photo.key, width: 45, height: 45, crop: :thumb, radius: :max, face: :center, data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, class:'side-nav-profile-pic mr-2' %>
        <% else %>
          <%= image_tag "default_user_image.png", alt: "Profile picture", width: 45, height: 45, crop: :thumb, radius: :max, face: :center, data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, class:'side-nav-profile-pic mr-2' %>
        <% end %>
        <p class="m-0"><%= current_user.full_name %></p>
      </div>
      <ul>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "btn-ghost" %>
        </li>
        <hr>
        <li class="nav-item">
          <%= link_to "Your Bookings", dashboard_path, class: "btn-ghost" %>
        </li>
        <hr>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "btn-ghost" %>
        </li>
        <hr>
        <li class="nav-item">
          <%= link_to "Your Profile", edit_user_registration_path, class: "btn-ghost" %>
        </li>
        <hr>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn-ghost" %>
        </li>
      </ul>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <%= link_to "Sign-Up", new_user_registration_path, class: "nav-link" %>
    <% end %>
  </div>
</div>

<!--
<script>

</script> -->
