<div class="container">

  <div class="event-show-container">

    <%= link_to "Back to events", group_events_path(@event.group), class: "events-show-nav-link" %>

    <h1><%= @event.name %></h1>

    <p style="font-style: italic;">Brought to you by the <%= @event.group.name %> group</p>



    <h5>Description</h5>
    <p><%= @event.description %></p>

    <h5>Details</h5>
    <p><i class="far fa-calendar"></i> <%= @event.date.strftime("%d/%m/%y") %></p>
    <p><i class="far fa-clock"></i> <%= @event.time.strftime("%I:%M%P") %></p>
      <% if @event.price == 0 %>
        <p><i class="fas fa-coins"></i></i> Free</p>
      <% else %>
        <p><i class="fas fa-coins"></i></i> £<%= @event.price %></p>
      <% end %>
      <% if @event.total_spaces == nil %>
        <p><i class="fas fa-users"></i> There is no limit on this event!</p>
      <% else %>
        <p><i class="fas fa-users"></i> <%= (@event.total_spaces - @event.spaces_booked) %> spaces left</p>
      <% end %>
      <p><i class="fas fa-map-marker-alt"></i> <%= @event.address %></p>

  </div>


</div>
