<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @event.photo.key, height: 200, width: 350, crop: :fill %>');">
  <div class="container">

    <%= link_to "Back to events", group_events_path(@event.group), class: "banner-button" %>

    <h1><%= @event.name %></h1>

    <p><%= @event.description %></p>

  </div>
</div>

<div class="container">

  <div class="event-show-container">

    <h5 class="group-show-h4">Members attending</h5>
    <div>
      <% @users.last(5).each do |user| %>
            <%= (image_tag user.photo, class: "avatar-large-shadow bordered") if user.photo.attached? %>
      <% end %>
    </div>

    <h5>Details</h5>


    <table class="event-show-details">
      <tr>
        <td class="left-td">
          <p><i class="far fa-calendar"></i> <%= @event.date.strftime("%d/%m/%y") %></p>
        </td>
        <td class="right-td">
          <p><i class="far fa-clock"></i> <%= @event.time.strftime("%I:%M%P") %></p>
        </td>

      </tr>

      <tr>

        <td class="left-td">
          <% if @event.price == 0 %>
            <p><i class="fas fa-coins"></i></i> Free</p>
          <% else %>
            <p><i class="fas fa-coins"></i></i> £<%= @event.price %></p>
          <% end %>
        </td>
        <td class="right-td">
          <% if @event.total_spaces == nil %>
            <p><i class="fas fa-users"></i> There is no limit on this event!</p>
          <% else %>
            <p><i class="fas fa-users"></i> <%= (@event.total_spaces - @event.spaces_booked) %> spaces left</p>
          <% end %>
        </td>

      </tr>

    </table>

      <p><i class="fas fa-map-marker-alt"></i> <%= @event.address %></p>



<%= simple_form_for [@event, @event_booking] do |f| %>
  <%= f.label :spaces_booked, 'No. of Attendees' %>
  <%= f.input :spaces_booked, :collection => 1..12, label: false%>
  <%= f.submit "Book now!", class: "btn-flat btn-block" %>
<% end %>
  </div>


</div>
