<!-- <div class="text-center d-flex flex-column align-items-center">
<h1>BUBBA</h1>
</div>
<br>

<div class="text-center d-flex flex-column align-items-center">
  <h3>What are you looking for?</h3>
  <br>
  <br>
  <br>

    <div class="text-center d-flex flex-column align-items-center">
        <%= link_to "Groups", groups_path, :class => "btn btn-flat mb-3", :style => "width:250px;" %>
        <%= link_to "Events", events_path, :class => "btn btn-flat mb-3", :style => "width:250px;" %>
        <%= link_to "Nannies", nannies_path, :class => "btn btn-flat mb-3", :style => "width:250px;" %>
        <%= link_to "Advice", groups_path, :class => "btn btn-flat mb-3", :style => "width:250px;" %>
    </div>
</div> -->



<div class="overlay"></div>

<!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="home-video">
  <source src="assets/home-page.mp4" type="video/mp4">
</video> -->

<%= video_tag "home-page.mp4", autoplay: "autoplay", playsinline: "playsinline", id: "video", muted: true, loop: "true", :class => "home-video"%>

<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
      <h1 class="display-3">Bubba</h1>
      <h4>Creating a community of parents in busy cities</h4>
      <br>
      <br>
      <h4>What are you looking for?</h4>
        <br>
        <div class="text-center d-flex flex-column align-items-center">
        <%= link_to '<i class="fas fa-users"></i> &nbsp; Groups'.html_safe, groups_path, :class => "btn btn-flat-home mb-3 custom-class" %>
        <%= link_to '<i class="fas fa-calendar-check"></i> &nbsp; Events'.html_safe, events_path, :class => "btn btn-flat-home mb-3 custom-class"%>
        <%= link_to '<i class="fas fa-baby-carriage"></i> &nbsp; Nannies'.html_safe, nannies_path, :class => "btn btn-flat-home mb-3 custom-class" %>
        <%= link_to '<i class="fas fa-bullhorn"></i> &nbsp; Advice'.html_safe, advice_path, :class => "btn btn-flat-home mb-3 custom-class" %>
    </div>
    </div>
  </div>
</div>

<script>document.getElementById("search").remove();</script>
